.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60vw;
  height: 30rem;
  margin: 5rem auto;
  background: gold;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-top: 5rem;
}

.footer {
  height: 10%;
}
