.Order{
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: rgb(236, 241, 243);
}

.Ingredient{
  text-transform: capitalize;
  font-size: 0.8rem;
  display: inline-block;
  margin: 2px 4px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.salad{
  background-color: #91ce50;
}

.bacon{
  background-color: #c45e38;
}

.cheese{
  background-color: #d6bb22;
}

.meat{
  background-color: #702e05;
  color: #fff;
}

.ButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ButtonContainer button{
  border: 3px solid #fff;
  color:rgb(214, 208, 208);
  background-color: #fff;
  font-weight: 700;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  cursor: pointer;
}

.ButtonContainer button:hover{

  color:#40a4c8;
}