.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.Nav a {
  text-transform: uppercase;
  padding: 0.5em 0em;
  font-weight: 600;
}

.Nav a + a {
  margin-left: 1em;
}
